.Main__Wrapper {
	position: relative;
	text-align: center;
}

.ContactCard {
	background-image: url('../../../assets/botton\ contact.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.Card_Caption {
	padding: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Card_Image {
	width: 50px;
}

.Card_Title {
	color: var(--color4);
}

.Card_Body {
	color: var(--color4);
}

.Card_Action {
	color: var(--color3);
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.Card_Caption {
		font-size: 0.8rem;
	}
	.Main__Wrapper {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.Main__Wrapper {
		padding-top: 1.2rem;
		padding-bottom: 1.2rem;
	}
}
