.BarUp {
	width: 14px;
	position: absolute;
	bottom: 20%;
	right: 4%;
	z-index: 4;
	transform: translateY(-50%);
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.BarUp {
		/* display: none; */
		bottom: 2%;
		right: 4%;
		width: 11px;
	}
}
