.Social {
	position: absolute;
	bottom: 1%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	z-index: 2;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.Social {
		bottom: -60%;
	}
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.Social {
		bottom: -55%;
	}
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.Social {
		bottom: -10%;
		padding-bottom: 0 !important;
	}
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	.Social {
		padding-bottom: 0 !important;
	}
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.Social {
		padding-bottom: 0 !important;
	}
}
