.Main_section {
	background-image: url('../../../../assets/background.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 85vh;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

/* .Bgtitle {
	background-image: url("../../../assets/botton about.png");
	background-position: center center;
	background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
} */

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	color: var(--color1);
	transform: translate(-50%, -50%);
	width: 100%;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.Main_section {
		padding-top: 5rem;
	}
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.Main_section {
		padding-top: 4.8rem;
	}
}
