.Home {
	background-image: url("../../../assets/Image.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
    height: 100vh;
    position: relative;
}
.Overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
