.Home {
	background-image: url('../../../assets/Image.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
}

.Overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.Caption {
	position: absolute;
	top: 15%;
	left: 28%;
	color: var(--color4);
	z-index: 9;
}

.Best__offer {
	margin-top: 1rem;
}

.Best__offer h2 {
	color: var(--color4);
	text-transform: uppercase;
}

.Best__offer p {
	color: var(--color4);
	text-transform: uppercase;
}

.Best__offer button {
	padding: 0.4rem 0.8rem;
	border-radius: 15px;
	background-color: var(--color4);
	color: var(--color2);
	border: none;
}

.Best__offer button:hover {
	padding: 0.4rem 0.8rem;
	border-radius: 15px;
	background-color: var(--color3);
	color: var(--color2);
	border: none;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.Caption {
		width: 100%;
		top: 38%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
	.Caption div div:last-child {
		margin-left: 0 !important;
	}
}

/* // Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) and (max-width: 767.98px) {
} */

/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) and (max-width: 991.98px) {
} */

/* // Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) and (max-width: 1199.98px) {
} */

