:root {
	--color1: #7bd8e8;
	--color2: #050615;
	--color3: #d8ebf0;
	--color4: #98c7d3;
	--color5: #377483;
}

@font-face {
	font-family: hemi_head;
	src: url('./assets/fonts/hemi-head.ttf');
}

body {
	margin: 0;
	font-family: hemi_head, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* background-color: var(--color2); */
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.owl-theme .owl-nav {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
	width: 30px !important;
	height: 30px !important;
	outline: none !important;
	background-color: #ddd !important;
	padding: 10px !important;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 !important;
}

.arrow {
	width: 12px !important;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
	background-color: var(--color1) !important;
	color: black !important;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.it-Consultancy {
		padding-top: 1rem;
		padding-bottom: 3rem;
	}
	.navbar__home {
		background-color: var(--color2) !important;
	}
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.navbar__home {
		background-color: var(--color2) !important;
	}
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.navbar__home {
		background-color: var(--color2) !important;
	}
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	.BusinessMenu {
		left: -200px;
	}
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.BusinessMenu {
		left: -200px;
	}
}
